.multilanguage-inputs{margin-bottom:5px; display:block; width:100%;}
.multilanguage-inputs > *{display:none;}
.multilanguage-inputs .current, .multilanguage-inputs .current > span{display:block !important;}
.multilanguage-flags{margin-bottom:8px;display:block;}
.multilanguage-flags img{margin-right:5px; opacity:0.5;filter:alpha(opacity=50);cursor:pointer;}
.multilanguage-flags img.current{opacity:1 !important;filter:alpha(opacity=100) !important;}